.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 2fr) repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.div1 {
  grid-area: 1 / 1 / 4 / 2;
}
.div2 {
  grid-area: 4 / 1 / 6 / 2;
}
.div3 {
  grid-area: 6 / 1 / 7 / 2;
}
.div4 {
  grid-area: 1 / 2 / 3 / 4;
}
.div5 {
  grid-area: 3 / 2 / 4 / 3;
}
.div6 {
  grid-area: 4 / 2 / 6 / 3;
}
.div7 {
  grid-area: 6 / 2 / 7 / 3;
}
.div8 {
  grid-area: 1 / 4 / 3 / 5;
}
.div9 {
  grid-area: 3 / 3 / 5 / 5;
}
.div10 {
  grid-area: 5 / 3 / 7 / 4;
}
.div11 {
  grid-area: 1 / 5 / 3 / 7;
}
.div12 {
  grid-area: 3 / 5 / 5 / 6;
}
.div13 {
  grid-area: 5 / 4 / 7 / 5;
}
.div14 {
  grid-area: 3 / 6 / 5 / 7;
}
.div15 {
  grid-area: 5 / 5 / 7 / 7;
}

div {
  border-width: 6px;
  border-style: dashed;
  border-color: #f00;
  text-align: center;
}
