main.gallery {
  padding: 2rem;
}

.gallery > h1 {
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 1rem;
  color: #333333;
  font-weight: 100;
}

.gallery > .gallery__list {
  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, 1fr));
  grid-template-rows: repeat(6, 150px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.gallery > .gallery__list > li:nth-child(1) {
  grid-column: span 1;
  grid-row: span 3;
  background: blue;
}

.gallery > .gallery__list > li:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
  background: green;
}

.gallery > .gallery__list > li:nth-child(3) {
  grid-column: span 1;
  grid-row: span 2;
  background: yellow;
}

.gallery > .gallery__list > li:nth-child(4) {
  grid-column: span 2;
  grid-row: span 2;
  background: green;
}

.gallery > .gallery__list > li:nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
  background: red;
}

.gallery > .gallery__list > li:nth-child(6) {
  grid-column: span 2;
  grid-row: span 3;
  background: orange;
}

.gallery > .gallery__list > li:nth-child(7) {
  grid-column: span 1;
  grid-row: span 2;
  background: yellow;
}

.gallery > .gallery__list > li:nth-child(8) {
  grid-column: span 1;
  grid-row: span 2;
  background: yellowgreen;
}

.gallery > .gallery__list > li:nth-child(9) {
  grid-column: span 1;
  grid-row: span 2;
  background: yellowgreen;
}

.gallery > .gallery__list > li:nth-child(10) {
  grid-column: span 1;
  grid-row: span 2;
  background: yellow;
}

.gallery > .gallery__list > li:nth-child(11) {
  grid-column: span 2;
  grid-row: span 2;
  background: green;
}

.gallery > .gallery__list > li:nth-child(12) {
  grid-column: span 1;
  grid-row: span 1;
  background: red;
}

.gallery > .gallery__list > li:nth-child(13) {
  grid-column: span 1;
  grid-row: span 1;
  background: brown;
}

.gallery > .gallery__list > li:nth-child(14) {
  grid-column: span 1;
  grid-row: span 1;
  background: red;
}

.gallery > .gallery__list > li:nth-child(15) {
  grid-column: span 1;
  grid-row: span 1;
  background: brown;
}

.gallery > .gallery__list > li > figure {
  height: 100%;
}

.gallery > .gallery__list > li > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
